*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 28px;
}
h1{
    text-align: center;
}


#lista{
    width: 80%;
    height:500px;
    margin: 5% auto 0 auto;
    background-color: bisque;
    padding: 5% 10%;
    border: 1px solid gray;
}
#spesa{
    width:80%;
    height: 100px;
    margin:0 auto;
    background-color: bisque;
    padding: 5% 10%;
    border: 1px solid gray;
}

